<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github-personal" value="https://nuget.pkg.github.com/aspriddell/index.json" />
    </packageSources>
    <allowedPackageSources>
        <add key="csdl.Native" value="github-personal" />
    </allowedPackageSources>
</configuration>